@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Pacifico&display=swap');

body,html {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    background-image: linear-gradient(90deg, #119da4, #404e7c);
}

body {
  caret-color: transparent;
}

input {
  caret-color: #000;
}


/*========================== Side-Bar ==========================*/


#side-bar {
    background: rgba(180, 180, 180, 0.5);
    backdrop-filter: blur(10px);
    min-height: 100vh;
    min-width: 170px;
}

#side-bar-toggle, #side-bar-toggle:focus {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    font-size: 2.5rem;
    border: none;
    margin: 1rem 0 0 1rem;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
}

#logo {
    margin: 6rem 0;
    color: #F5F1F1;
    font-family: 'Pacifico', sans-serif;
    font-size: 4em;
}


/* Nav menu ------------------------------------*/


#side-bar-menu-column, #side-bar-menu-container {
    padding: 0;
}

#side-bar-menu {
    width: 100%;
}

.nav-link {
    font-size: 1.5rem;
    margin: 0.5em 0;
    color: #F5F1F1;
}

.nav-link:hover, .nav-lin:focus {
    color: #F5F1F1;
    outline: none;
    background-color: #404e7c;
}

nav i {
    margin: 0 1rem;
}




/*========================== Main-Viewport ==========================*/


#main-viewport {
    padding: 0 3vw 6vw 3vw;
    height: 100%;
}


/* User info and profile ------------------------------------*/


#user-info {
    text-align: end;
    margin: 1rem;
    padding: 0;
}

#user-name {
    display: inline-block;
    color: #F5F1F1;
}

#user-profile {
    display: inline-block;
    margin: 0 1rem;
}

#dropdownMenuButton, #dropdownMenuButton:focus, #dropdownEditButton, #dropdownEditButton:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

#dropdownEditButton, #dropdownEditButton:focus {
    float: right;
}

.dropdown-toggle {
    color: #F5F1F1;
}

.dropdown-toggle .fa-user-circle{
    font-size: 2.5rem;
}


/* Search bar ------------------------------------*/


#search-bar {
    margin-top: 12rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#search-input, #search-input:focus {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: none;
    outline: none;
}

/* List boxes ------------------------------------*/


#edit-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #119da4;
    text-align: center;
}

#list-container {
    margin-top: 6rem;
}

.list-box {
    width: 100%;
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.list-title {
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
}

.list-group-item {
    font-size: 1.5rem;
    min-height: 3rem;
    line-height: 3rem;
}

.list-icon {
    margin: 0 1rem;
    float: right;
    color: #119da4;
    width: 2rem;
    height:2rem;
    text-align: center;
    
}

.list-icons-container {
    height: 2rem;
    margin: auto;
}

.list-icon:hover, #edit-icon:hover {
    font-size: 2rem;
}

.addListInput, .addListInput:focus {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

/* Placeholder*/

.addListInput::-webkit-input-placeholder {
    font-weight: 800;
    color: rgb(180, 180, 180);
}

.addListInput:-ms-input-placeholder {
    font-weight: 800;
    color: rgb(180, 180, 180);
}

.addListInput:-moz-placeholder {
    font-weight: 800;
    color: rgb(180, 180, 180);
}

.addListInput::-moz-placeholder {
    font-weight: 800;
    color: rgb(180, 180, 180);
}

/* Edit dropdowns in lists */

.dropdown-item {
    font-weight: 600;
    font-size: 1.25rem;
    color: rgb(131, 131, 131);
}

.dropdownEditMenuIcons {
    margin-right: 1rem;
}

.dropdown-item:hover {
    color: #119da4
}

.dropdown-item:active, .dropdown-item:focus {
    background-color: #119da4;
    outline: none;
    color: #F5F1F1;
}

#list0 {
    display: none!important;
}

/* Modal */


#menu-modal-btn {
    background-color: transparent;
    font-size: 4rem;
    border: none;
    margin-bottom: .5rem;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
    display: none;
}

.modal-dialog {
    margin-top: 15vh;
}

.modal-body {
    background-color: #F5F1F1;
}

.modal-nav-link {
    font-size: 2rem;
    text-align: center;
    color: #404e7c;
}

.modal-nav-link:hover, .nav-lin:focus {
    background-color: #404e7c;
}

.close:focus {
    outline: none;
    border: none;
}

/*========================== Different Screen Resolutions ==========================*/

@media (max-width: 700px) {


    /* Side Bar */

    #side-bar {
        min-width: 100%;
        min-height: 10rem;
    }

    #side-bar-toggle {
        display: none;
    }

    #logo {
        font-size: 6rem;
        margin: 4rem 0;
    }

    #side-bar-menu-container {
        display: none;
    }

    /* Main Viewport */

    #main-viewport {
        min-width: 100%;
    }

    #menu-modal-btn {
        display: inline-block;
    }

    #search-bar {
        margin-top: 6rem;
    }

    /* Lists */
    #list-container {
        margin-top: 3rem;
    }

    .list-icons-container {
        height: 100%;
    }

    .list-icon {
        margin: .5rem;
    }
}