@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Pacifico&display=swap');

body,html {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Montserrat',sans-serif;
    background-image: linear-gradient(90deg, #119da4, #404e7c);
}

/*========================== Side-Bar ==========================*/


#side-bar {
    background: rgba(180, 180, 180, 0.5);
    backdrop-filter: blur(10px);
    height: 100vh;
    min-width: 150px;
}

#side-bar-toggle, #side-bar-toggle:focus {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    font-size: 2.5rem;
    border: none;
    margin: 1rem 0 0 1rem;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
}

#logo {
    margin: 6rem 0;
    color: #F5F1F1;
    font-family: 'Pacifico', sans-serif;
    font-size: 3em;
}

/* Nav Menu ------------------------------------*/


#side-bar-menu-column, #side-bar-menu-container {
    padding: 0;
}

#side-bar-menu {
    width: 100%;
}

.nav-link {
    font-size: 1.5rem;
    margin: 0.5em 0;
    color: #F5F1F1;
}

.nav-link:hover, .nav-lin:focus {
    color: #F5F1F1;
    outline: none;
    background-color: #404e7c;
}

nav i {
    margin: 0 1rem;
}


/*========================== Main-Viewport ==========================*/


#main-viewport {
    padding: 0 3vw;
    height: 100vh;
}

/* User Info ------------------------------------*/


#user-info {
    text-align: end;
    margin: 1rem;
}

#user-name {
    display: inline-block;
    color: #F5F1F1;
}

#user-profile {
    display: inline-block;
    margin: 0 1rem;
}

#dropdownMenuButton, #dropdownMenuButton:focus {
    background-color: transparent;
    border: none;
    outline: none;
}

.dropdown-toggle {
    color: #F5F1F1;
}

.dropdown-toggle i{
    font-size: 2.5rem;
}

/* Search Bar ------------------------------------*/


#search-bar {
    margin-top: 12rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#search-input {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: none;
    color: #F5F1F1;
}

/* List Box ------------------------------------*/


#li-container {
    margin-top: 6rem;
}

.li-box {
    width: 100%;
    margin-top: 3rem;
}

.list-title {
    font-size: 2rem;
    font-weight: 500;
}

.list-group-item {
    font-size: 1.5rem;
}


/*========================== Different Screen Resolutions ==========================*/
