@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Pacifico&display=swap');

body,html {
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100vh;
    border: 3px;
    box-sizing: border-box;
}


/*------------------- Side-Bar -------------------*/


#side-bar {
    background-color: #2D354C;
    height: 100vh;
}

#hamburger {
    position: absolute;
    z-index: 1;
}

#logo {
    margin: 50px 0;
    color: #F5F1F1;
    font-family: 'Pacifico', sans-serif;
    font-size: 54px;
}

#list-container {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.list-block {
    width: 15vw;
    min-width: 200px;
    min-height: 300px;
    background-color: #CB3840;
}

/*------------------- Main-Viewport -------------------*/


#main-viewport {
    padding: 0;
    background-color: #F5F1F1;
    height: 100vh;
}

/*------------------- Different Screen Resolutions -------------------*/
